{% extends "layers/layer_base.html" %}
{% load i18n %}
{% load bootstrap_tags %}
{% load url from future %}
{% load base_tags %}

{% block title %}{{ service.title|default:service.name }} — {{ block.super }}{% endblock %}

{% block head %}
{{ block.super }}
{% endblock %}


{% block body_class %}layers{% endblock %}

{% block body_outer %}
<div class="page-header">
  <h2 class="page-title">{{ service.title }}</h2>
</div>

<div class="row">
  <div class="col-md-9">

    <article itemscope itemtype="http://schema.org/Dataset" class="description tab-pane active" id="info">
      <dl class="dl-horizontal">
        <dt>{% trans "Name" %}</dt>
        <dd>{{ service.name }}</dd>
        <dt>{% trans "URL" %}</dt>
        <dd>{{ service.base_url }}</dd>
        <dt>{% trans "Abstract" %}</dt>
        <dd>{{ service.abstract }}</dd>
        <dt>{% trans "Keywords" %}</dt>
        <dd>{{ service.keywords.all|join:", " }}</dd>
        <dt>{% trans "Contact" %}</dt>
        <dd><a href="{% url "profile_detail" service.owner.username %}">{{ service.owner }}</a></dd>       
      </dl>
    </article>

    <article id="attributes" class="tab-pane">

        <h3>{% trans "Services" %}</h3>
        <p>{% trans "This remote server contains the following services" %} </p>
        <table class="table table-striped table-bordered table-condensed">
          <thead>
            <tr>
              <th>{% trans "Title" %}</th>
              <th>{% trans "Abstract" %}</th>
            </tr>
          </thead>
          <tbody>
            {% for service_layer in service.servicelayer_set.all %}
              <tr>
                <td>
                  {% if service_layer.layer %}
                    <a href="{{ service_layer.layer.get_absolute_url }}">{{ service_layer.title }}</a>
                  {% else %}
                    {{ service_layer.title }}
                  {% endif %}
                </td>
                <td>{{ service_layer.description }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>

    </article>

  </div> <!-- col-md-9 -->

  <div class="col-md-3">

    <ul class="list-group">
        <li class="list-group-item"><h3>{% trans "Manage" %}</h3></li>

        <li class="list-group-item"><a class="btn btn-default btn-md btn-block" href="{% url "services" %}">{% trans "Browse other services" %}</a></li>

        {% if service.owner = request.user %}
            <li class="list-group-item"><a class="btn btn-default btn-md btn-block" href="{% url "register_layers" service.id %}">{% trans "Register Service Layers" %}</a></li>
            <li class="list-group-item"><a class="btn btn-default btn-md btn-block" href="{% url "edit_service" service.id %}">{% trans "Edit Service Metadata" %}</a></li>
            <li class="list-group-item"><a class="btn btn-default btn-md btn-block" href="{% url "remove_service" service.id %}">{% trans "Remove Service" %}</a></li>
        {% endif %}
      </ul>
    
  </div> <!-- col-md-3 -->

</div> <!-- row -->
{% endblock %}
